body{
    background-color: rgba(124, 119, 119,0.5);
}
#window{
    position: relative;
    margin:0 auto;
    border:1px solid black;
    border-radius: 30px;
    width:100%;
    height:550px;
    top:140px;
    background-image: url('../img/단풍.png');
    background-size: 100px;
    background-image: repeat;
    
}
#main-widow{
    border:1px solid black;
    
    z-index: 999;
}

.title-container{
    border:1px solid black;
    width:400px;
    margin:0 auto;
    margin-top:20px;
    height:140px;
    line-height: 140px;
    background-color: white;
}
.main-title{
    font-size: 2.7rem;
    text-align: center;
    font-family: 'KOTRAHOPE';
}
.char-container{
    background-color: white;
    width:600px;
    height:270px;
    border:1px solid black;
    margin:auto;
    margin-top:40px;
}
.char-select-name{
    display: flex;
}
.char-desc{
    border:1px solid black;
    text-align: center;
    margin: 10px 10px 0px 10px;
}
.char-select{
    border:1px solid black;
    width:430px;
    height:200px;
    margin:15px 10px;
}
.char-name{
    border:1px solid black;
    width:156px;
    height:200px;
    margin:15px 10px;
    margin-left:0
}
#nameinput{
    width:140px;
}
.char{
    border:3px solid white;
    width:75px;
    height:75px;
    margin:8px;
    margin-left:20px;
    background-color: rgb(219, 89, 49);
    border-radius: 10px;
}
.char:hover{
    background-color: rgb(91, 230, 233);
    transition: 1s all
}
.first-row{
    display: flex;
}
.second-row{
    display:flex;
}
#char1>img,
#char2>img{
    margin-left:5px;
    margin-top:10px;
    width:54px;
    height:47px;
}
#char3>img,
#char4>img,
#char5>img,
#char6>img,
#char7>img,
#char8>img{
    margin-top:5px;
    
}
img{
    
    width: 70px;
    height:60px;
}
#mine{
    border:1px solid black;
    width:100px;
    height:100px;
}
.none{
    display: none;
}
@media screen and (max-width:830px){
    #window{
        top:120px;
        width:100%;
        height:500px;
    }
}
@media screen and (min-width:1200px){
    #window{
        top:100px;
        max-width: 1200px;
    }
}


@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}