body{
    background-color: rgba(16, 15, 15, 0.767);
}
#window{
    position: relative;
    margin:0 auto;
    border:1px solid black;
    border-radius: 30px;
    width:1198px;
    height:550px;
    top:140px;
    background-color: white;
    background-image: url('../img/background.png');
    background-size:1198px;
    background-repeat:no-repeat;
    background-position: center center;
    margin-top:-30px;
}
#main-widow{
    border:1px solid black;
    
    z-index: 999;
}
.title-container{
    margin:0 auto;
    margin-top: 20px;
    border:1px solid black;
    background-color:rgba(0, 0, 0, 0.5);
    width:400px;
    height:130px;
    box-shadow: 3px 3px;
}
#monstercard{
    width:20px;
    height:25px;
}
.top-title{
    display: flex;
    background-color: rgb(85, 149, 205);
    height:26px;
}
#top-title-cont{
    font-family: 'HBIOS-SYS';

}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}
#title-cont{
    font-size: 2rem;
    font-family: 'ONE-Mobile-POP';
    color: white;
}

.char-container{
    background-color: rgba(193, 146, 82,0.8);
    width:600px;
    height:270px;
    margin:auto;
    margin-top:40px;
    border:2px solid black;
}
.char-select-name{
    display: flex;
}
.char-desc{
    text-align: center;
    margin: 10px 10px 0px 10px;
    font-family: 'KOTRAHOPE';
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(201, 104, 6);
}
.char-select{
    background-color: antiquewhite;
    width:430px;
    height:200px;
    margin:15px 10px;
}
.char-name{
    width:156px;
    height:200px;
    margin:15px 10px;
    margin-left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#nameinput{
    width:140px;
}
.char{
    border:3px solid white;
    width:75px;
    height:75px;
    margin:8px;
    margin-left:20px;
    background-color: rgb(219, 89, 49);
    border-radius: 10px;
}
.char:hover{
    background-color: rgb(91, 230, 233);
    transition: 1s all
}
.first-row{
    display: flex;
}
.second-row{
    display:flex;
}
#char1>img,
#char2>img{
    margin-left:5px;
    margin-top:10px;
    width:54px;
    height:47px;
}
#char3>img,
#char4>img,
#char5>img,
#char6>img,
#char7>img,
#char8>img{
    margin-top:5px;
    
}
#charinfo{
    border:1px solid black;
    width:140px;
    height:160px;
}
#charinfo-info{
    font-size: 0.7rem;
    height: 120px;
    overflow: scroll;
    overflow-x:hidden
    
}
#startbutton{
    color: white;
    font-size: 1.5rem;
    font-family: 'RixInooAriDuriR';
    width:120px;
    height:30px;
    border: rgb(237, 99, 25);
    background-color: rgb(220, 120, 74);
}
#startbutton:hover{
    transition: 1s all;
    background-color: rgb(144, 239, 62);
}
img{
    
    width: 70px;
    height:60px;
}

.none{
    display: none;
}
.alert{
    background-color: rgba(0, 157, 255,0.8);
    position: absolute;
    width:400px;
    height:160px;
    top:26%;
    left:37%;
    border-radius: 10px;
    border:3px rgba(230, 211, 211, 0.5) solid;
}
#alert-main{
    margin:0 auto;
    width:380px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    height:125px;
    display: flex;
    margin-top:5px;
}
#main-img{
    width:95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.border{
    border:2px solid red;
}
#main-img>div{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    width:80px;
    color: white;
    font-family: 'GongGothicMedium';
}
#main-desc{
    font-family: 'MabinogiClassicR';
    width:300px;
    border-radius: 0 10px 10px 0;
    background-color: white;
}
#desc{
    margin-top: 30px;
}
#alert-sub>button{
    float: right;
    background: linear-gradient(to bottom,rgb(153, 255, 119),rgb(47, 237, 34));
    border:rgb(153, 255, 119);
    margin-right:10px;
    margin-top:3px;
    color: white;
    font-family: 'GongGothicMedium';
}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* @media screen and (max-width:800px){
    #window{
        top:120px;
        width:100%;
        height:500px;
    }
} */
/* @media screen and (min-width:1200px){
    #window{
        top:100px;
        max-width: 1200px;
    }
} */
#chatting-window{
    
    
    background-color: white;
    border-radius: 10px;
}
.chatting-container{
    display: flex;
}
.game-window{
    margin:20px;
    margin-left:30px;
    width:55%;
    height:547px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.card{
    
    width:95px;
    height:105px;
}
.char-chatting-window{
    margin:20px;
    
    width:465px;
    height:547px;
    margin-left:30px;
}
.char-window{
    margin:0 auto;
    /* border:1px solid black; */
    background-color: antiquewhite;
    width:470px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entered-char{
    
    width:100px;
    height:190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 227, 248);
    border-radius: 5px;
}
.entered-char-img{
    background-color: rgb(204, 227, 248);
}
.entered-char-img>img{
    margin-left:10px;
    margin-top:30px;
}
.entered-char-name{
    text-align: center;
    background-color: rgb(82, 162, 242);
}
.entered-char-score{
    text-align: center;
    background-color: white;
}
.chat-window-container{
    margin:0 auto;
    margin-top:15px;
    border:1px solid black;
    width:470px;
    height:284px;
}
#chat-window{
    overflow:scroll;
    overflow-x: hidden;
    margin:0 auto;
    width:470px;
    height:250px;
    border-bottom:1px solid black;
    background-color: black;
}
#chat-window>div{
    font-family: 'PyeongChang-Bold';
    color:white
}
#chat-input-container{
    margin:0 auto;
}
#chat-input{
    width:400px;
}

.entered-char-img{
    margin:auto 0;
    width:95px;
    height:120px;
}
.entered-char-name{
    margin:auto 0;
    width:95px;
    height:30px;
    line-height: 30px;
    font-family: 'GongGothicMedium';
}
.entered-char-score{
    margin:auto 0;
    width:95px;
    height:30px;
    line-height: 30px;
    font-family: 'GongGothicMedium';
}
#first-char{
    margin-left:3px;
}
#fourth-char{
    margin-right:3px;
}
.gamestart{
    margin-top:15px;
    margin-left:370px;
    width:100px;
    height:35px;
    border:1px solid black;
    line-height: 35px;
    text-align: center;
    font-family: 'Cafe24Ssurround';
    border-radius: 35px;
    background-color: rgb(223, 73, 27);
}
/* .card{
    background-image: url('../img/backcard.jpg');
} */
.backnone{
    background-image: none;
}
/* .gamestart:hover{
    background-color: black;
    color:white
} */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


  
 
  
  @keyframes rightToLeft {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(-160px);
    }
  }
  @font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#hello{
    width:200px;
}
* {cursor: url(https://cur.cursors-4u.net/games/gam-4/gam305.ani), url(https://cur.cursors-4u.net/games/gam-4/gam305.png), auto !important;} 